### Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import re

### Import data

In [2]:
customer_df = pd.read_csv('files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')

### Find all of the categorical data. Save it in a categorical_df variable.

In [3]:
cat = customer_df.select_dtypes("object")
cat.head()

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

### Check for NaN values.

In [4]:
cat.isna().sum()

### There are no missing values!

Customer             0
State                0
Response             0
Coverage             0
Education            0
Effective To Date    0
EmploymentStatus     0
Gender               0
Location Code        0
Marital Status       0
Policy Type          0
Policy               0
Renew Offer Type     0
Sales Channel        0
Vehicle Class        0
Vehicle Size         0
dtype: int64

### Check all unique values of columns.

In [5]:
for col in cat.columns:
    print(cat[col].value_counts())
    
print(cat["Customer"].nunique()) ### Just to check that all values are unique

BU79786    1
PU81096    1
CO75086    1
WW52683    1
XO38850    1
          ..
HS14476    1
YL91587    1
CT18212    1
EW35231    1
Y167826    1
Name: Customer, Length: 9134, dtype: int64
California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64
No     7826
Yes    1308
Name: Response, dtype: int64
Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64
1/10/11    195
1/27/11    194
2/14/11    186
1/26/11    181
1/17/11    180
1/19/11    179
1/31/11    178
1/3/11     178
1/20/11    173
2/26/11    169
1/28/11    169
2/19/11    168
1/5/11     167
2/27/11    167
1/11/11    166
2/4/11     164
2/10/11    161
2/28/11    161
1/2/11     160
1/21/11    160
1/29/11    160
2/22/11    158
2/5/11     158
2/3/11     158
2/7/11     157
2/12/11    156
1/23/11    155
2/1/11     154
1/18/11    154
1/15/11    153
1/14/11    152
2/11/11    151
1/7/11     151
1/25/11    151
2/25/11    149
1/8/11     149
2/18/11    149
2/2/11     149
1/1/11     148
2/21/11    148
1/24/11    147
1/9/11     146
1/30/11    145
1/13/11    145
2/6/11     144
1/6/11     143
2/23/11    143
1/16/11    142
2/16/11    139
2/13/11    139
2/24/11    139
2/9/11     137
2/17/11    136
1/22/11    136
2/8/11     134
2/20/11    132
2/15/11    130
1/12/11    126
1/4/11     115
Name: Effective To Date, dtype: int64
Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64
F    4658
M    4476
Name: Gender, dtype: int64
Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64
Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64
Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64
Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: Renew Offer Type, dtype: int64
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64
Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64
Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64
9134

### Check dtypes. Do they all make sense as categorical data?

In [6]:
cat.info()

### I would say they all make sense, except for the "Effective To Date" column, because it is
### a date/time object. 
### I would remove this column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer           9134 non-null   object
 1   State              9134 non-null   object
 2   Response           9134 non-null   object
 3   Coverage           9134 non-null   object
 4   Education          9134 non-null   object
 5   Effective To Date  9134 non-null   object
 6   EmploymentStatus   9134 non-null   object
 7   Gender             9134 non-null   object
 8   Location Code      9134 non-null   object
 9   Marital Status     9134 non-null   object
 10  Policy Type        9134 non-null   object
 11  Policy             9134 non-null   object
 12  Renew Offer Type   9134 non-null   object
 13  Sales Channel      9134 non-null   object
 14  Vehicle Class      9134 non-null   object
 15  Vehicle Size       9134 non-null   object
dtypes: object(16)
memory usage: 1.1+ MB

### Does any column contain alpha and numeric data? Decide how to clean it.

In [7]:
### Yes! The customer column, the Policy column and the renew offer type
### I will deal with the policy column later, and now I will clean the customer and renew 
### offer type

In [8]:
def clean_customer(x):
    y = ""
    for char in x:
        if re.match('[A-Z]', char):
            pass 
        else:
            y = y + char
    return y

In [9]:
cat2 = cat.copy()
cat2["Customer"] = cat2["Customer"].apply(clean_customer)
print(cat2["Customer"].nunique())

### By doing this I am loosing some unique values, so I will not do this for the cat df.

8690

In [10]:
### I will now clean the renew offer type column, even though I dont think this is really 
### necessary. 

def clean_rot(x):
    y = ""
    for char in x:
        if re.match('[A-Z]|[a-z]', char):
            pass 
        else:
            y = y + char
    return y

In [11]:
cat["Renew Offer Type"] = cat["Renew Offer Type"].apply(clean_rot)
cat

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,4,Call Center,Two-Door Car,Medsize

### Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.

In [12]:
### I could change the Employment status column so that it has "Employed" and "Other". 
### This will also help the class imbalance a bit.

In [13]:
def clean_es(x):
        if x == "Employed":
            return x
        else:
            return "Other"

In [14]:
cat["EmploymentStatus"] = cat["EmploymentStatus"].apply(clean_es)
cat["EmploymentStatus"].value_counts()

Employed    5698
Other       3436
Name: EmploymentStatus, dtype: int64

In [15]:
### I will also change the "State" column so that it only contains California, Oregion
### and Arizona. This might also help a bit with the class imbalance and will leave me with 
### less possible unique values, which is better for the OneHotEncoder

In [16]:
def clean_state(x):
        if x in ["California", "Oregon", "Arizona"]:
            return x
        else:
            return "Other"

In [17]:
cat["State"] = cat["State"].apply(clean_state)
cat["State"].value_counts()

California    3150
Oregon        2601
Arizona       1703
Other         1680
Name: State, dtype: int64

In [18]:
### Lastly, I will change the "Education" column so that it has Bachelor, College, High School
### or Below and a new "Higher Education" with Master and Doctor together.

In [19]:
def clean_education(x):
        if x in ["Bachelor", "College", "High School or Below"]:
            return x
        else:
            return "Higher Education"

In [20]:
cat["Education"] = cat["Education"].apply(clean_education)
cat["Education"].value_counts()

Bachelor                2748
College                 2681
High School or Below    2622
Higher Education        1083
Name: Education, dtype: int64

### Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

In [21]:
print(cat["Policy"].value_counts())
print(cat["Policy Type"].value_counts())

### Policy Type seems to be contained within the Policy column. Policy seems to include levels?
### I guess we can erase Policy Type and just keep Policy.

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

In [22]:
### Just to check:

policy_per = cat[cat["Policy Type"] == "Personal Auto"]
print(policy_per["Policy"].value_counts())

policy_cor = cat[cat["Policy Type"] == "Corporate Auto"]
print(policy_cor["Policy"].value_counts())

policy_spe = cat[cat["Policy Type"] == "Special Auto"]
print(policy_spe["Policy"].value_counts())

### It indeed seems to be that Policy Type is contained within the Policy column, so I 
### will erase the Policy Type column

Personal L3    3426
Personal L2    2122
Personal L1    1240
Name: Policy, dtype: int64
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Name: Policy, dtype: int64
Special L2    164
Special L3    148
Special L1     66
Name: Policy, dtype: int64

In [23]:
cat = cat.drop(["Policy Type"], axis = 1)
cat.columns

Index(['Customer', 'State', 'Response', 'Coverage', 'Education',
       'Effective To Date', 'EmploymentStatus', 'Gender', 'Location Code',
       'Marital Status', 'Policy', 'Renew Offer Type', 'Sales Channel',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')